h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 320px;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 7px;
}

.social__icon {
  fill: #94c31f;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
  padding-bottom: 12px;
}

.menu-button {
  background-color: transparent;
  border: none;
}

.burger {
  fill: #94c31f;
}

.hero {
  padding-top: 68px;
  padding-bottom: 56px;
  background-color: #94c31f;
  background-image: url(../img/hero-img.png);
}

.hero .container {
  text-align: center;
}

.hero__title {
  margin-bottom: 40px;
  font-family: "Montserrat", san-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.hero__des {
  margin-bottom: 50px;
  font-family: "Montserrat", san-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
}

.hero__subtitle {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 160px;
  font-family: "Montserrat", san-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero__btn {
  position: relative;
  margin: 0 auto;
  max-width: 180px;
  padding: 10px 13px;
  font-family: 'Montserrat', san-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  background: #f8f8f8;
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  display: block;
}

.hero__btn::before {
  position: absolute;
  content: '';
  background-image: url(../img/sprite-2.svg#icon-arrow);
  width: 100px;
  height: 100px;
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about__title {
  font-family: NK90;
  font-style: "Montserrat", san-serif;
  font-size: 18px;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 40px;
  color: #94C31F;
}

.about__subtitle {
  font-family: "Roboto", serif;
  font-size: 17px;
  line-height: 0.85;
  text-align: center;
  margin-bottom: 33px;
  color: #94C31F;
}

.about__desc {
  font-family: "Montserrat", san-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 33px;
  color: black;
}

.about__thumb {
  text-align: center;
  position: relative;
  padding-top: 14px;
  padding-bottom: 224px;
  padding-left: 28px;
  padding-right: 28px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about__thumb-img {
  margin: 0 auto;
  width: 100%;
}

.about__thumb-icon-left {
  position: absolute;
  fill: #94c31f;
  bottom: 5%;
  left: 10%;
}

.about__thumb-icon-right {
  position: absolute;
  fill: #94c31f;
  bottom: 5%;
  right: 10%;
}
/*# sourceMappingURL=main.css.map */